/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
section{
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
div{
    border: 1px solid red;
    padding: 40px;
}